<div class="login-panel">
  <div class="panel panel-default login">
    <div class="panel-heading">Esqueceu sua senha?</div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Digite seu Email" %>
        </div>

        <div class="actions">
          <%= f.submit "Enviar instruções para cadastrar nova senha", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
