<h1>Dados do Usuário</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Editar', edit_admin_user_path(@user), class: "btn btn-primary" %>
<%= link_to 'Voltar', admin_users_path, class: "btn btn-success" %>
